@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-none: 0px;
  --radius-xs: 0.125rem;
  --radius-default: 0.375rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 1.875rem;
  --radius-full: 9999px;
  --color-button-ripple-color: var(----button-ripple-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #213547;
  --card: #f9f9f9;
  --card-foreground: #213547;
  --popover: #ffffff;
  --popover-foreground: #213547;
  --primary: #9333ea;
  --primary-foreground: #ffffff;
  --secondary: #f97316;
  --secondary-foreground: #ffffff;
  --muted: #f1f1f1;
  --muted-foreground: #8e8e8e;
  --accent: #f1f1f1;
  --accent-foreground: #213547;
  --destructive: #ef4444;
  --border: #e2e2e3;
  --input: #e2e2e3;
  --ring: #9333ea;
  --chart-1: #9333ea;
  --chart-2: #f97316;
  --chart-3: #a855f7;
  --chart-4: #fb923c;
  --chart-5: #7e22ce;
  --sidebar: #f9f9f9;
  --sidebar-foreground: #213547;
  --sidebar-primary: #9333ea;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f1f1f1;
  --sidebar-accent-foreground: #213547;
  --sidebar-border: #e2e2e3;
  --sidebar-ring: #9333ea;
  --button-ripple-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: #1e1e20;
  --foreground: rgba(255, 255, 255, 0.87);
  --card: #242424;
  --card-foreground: rgba(255, 255, 255, 0.87);
  --popover: #242424;
  --popover-foreground: rgba(255, 255, 255, 0.87);
  --primary: #9333ea;
  --primary-foreground: #ffffff;
  --secondary: #f97316;
  --secondary-foreground: #ffffff;
  --muted: #2f2f2f;
  --muted-foreground: #a1a1a1;
  --accent: #2f2f2f;
  --accent-foreground: rgba(255, 255, 255, 0.87);
  --destructive: #ef4444;
  --border: #3c3c3c;
  --input: #3c3c3c;
  --ring: #9333ea;
  --chart-1: #9333ea;
  --chart-2: #f97316;
  --chart-3: #a855f7;
  --chart-4: #fb923c;
  --chart-5: #7e22ce;
  --sidebar: #242424;
  --sidebar-foreground: rgba(255, 255, 255, 0.87);
  --sidebar-primary: #9333ea;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2f2f2f;
  --sidebar-accent-foreground: rgba(255, 255, 255, 0.87);
  --sidebar-border: #3c3c3c;
  --sidebar-ring: #9333ea;
  --button-ripple-color: rgba(255, 255, 255, 0.1);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
